title: NEEDLE
email: contact@needle-project.org
description: >-
  NEEDLE - Machine Learning for Particle Physics at the LHC.
  Developing next-generation orchestration systems for ML research in high-energy physics.

baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Collections
collections:
  team:
    output: true
    permalink: /team/:name/

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - README.md
